#main {
  transition: margin-left 0.5s;
  padding: 16px;
  display: inline-block;
  /* width: min-content; */
  width: 100%;
  min-height: 65vh;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
