.pricing-page {
  background-color: #ffc560;
  padding: 1rem 1rem;
}

.pricing-title {
  height: 3rem;
  /* width: 10rem; */
  min-width: 15rem;
  width: fit-content;
  padding: 0 1rem;
  margin: 0px auto;
  background-color: #ffffff;
  text-align: center;
  border: 0.5rem solid #fff;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.pricing-plan-parts-container,
.error-container {
  background-color: #fff;
  width: 100%;
  /* height: 35rem; */
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.error-container {
  min-height: 15rem;
}

.pricing-plan-parts {
  /* height: 35rem; */
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-plan-tittle {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  text-align: center;
  padding: 1rem auto;
  margin: 1rem;
}

/* .pricing-plan-tittle h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
} */

.price-card {
  height: 25rem;
  width: 22%;
  /* margin: 0.5rem; */
  background: #000201;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.gold {
  background-color: #1d50a8;
}

.pricing-plan-parts-container h4 {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.price-card h3,
.price-card h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: #ffffff;
  margin: 1rem;
}

.price-card h2 {
  font-weight: 700;
  font-size: 2rem;
}

.price-card h2 .sub_text {
  font-size: 14px;
}

.price-card button {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #000201;
  color: #fff;
  padding: 0.5rem;
  margin: auto;
  display: block;
  margin-top: 2.5rem;
}

.gold button {
  background-color: #f0ac34;
  border: none;
}

.price-card .popular {
  width: 100%;
  border-radius: 0;
  margin-top: -38px;
}

.price-card hr {
  margin: 0px auto;
}

.price-card ul {
  color: #ffffff;
  margin-left: 2.5rem;
  list-style-type: disc;
  font-size: 15px;
}
@media (max-width: 976px) {
  .price-card {
    width: 48%;
  }
}

@media (max-width: 864px) {
  .price-card {
    width: 48%;
  }
}

@media (max-width: 450px) {
  .price-card {
    width: 98%;
  }
}

/* @media only screen and (max-width: 976px) {
  body {
    background-color: lightblue;
  }
} */
