#main {
  transition: margin-left 0.5s;
  /* padding: 16px; */
  /* display: inline-block; */
  width: 100%;
}

#main h1 {
  text-align: center;
}

.shop_window {
  background-color: #d49e3f;
  min-height: 500px;
  padding: 1rem;
}

.shop_window h1 {
  color: #009879;
}
/* product_forms_rwaper */
.product_forms_rwaper {
  /* background-color: #009879; */
  /* border: 5px solid #009879; */
  margin: 0rem 0rem;
  position: fixed;
  top: 115px;
  width: 97.5%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.7); /* Fallback color */
  z-index: 1;
}

.shop_form_items {
  /* width: 60%; */
  margin: 0 5%;
  padding: 1rem;
  background-color: #009879;
  /* *** */
  display: flex;
  justify-content: space-between;
}

.shop_form_item_container {
  min-width: 45%;
}

.shop_form_item {
  margin-bottom: 1rem;
}

.shop_form_item label,
.shop_form_item input,
.shop_form_item select,
.shop_form_item textarea {
  display: inline-block;
  font-size: 18px;
}

.shop_form_item label {
  width: 35%;
}

.shop_form_item input,
.shop_form_item select,
.shop_form_item textarea {
  outline: none;
  width: 65%;
}

.shop_form_items .btn {
  display: flex;
  justify-content: flex-end;
}

.shop_form_items .btn button {
  padding: 0.7rem;
  width: 100px;
  /* border-radius: 15px; */
}

.shop_form_item div {
  display: inline-block;
}

.shop_form_item div button {
  /* display: inline-block; */
  width: 100%;
}

/* add_product_btn */
.add_product_btn {
  padding: 0.5rem;
  /* display: flex; */
  /* align-items: flex-end; */
  align-content: flex-end;
  /* background-color: darkslategray; */
}

.add_product_btn button {
  padding: 0.5rem;
  color: #fff;
  background-color: #000;
  /* position: absolute; */
  /* right: 5px; */
}

.table_controls {
  display: flex;
  align-content: space-between;
  /* align-items: stretch; */
}

.table_controls .table_search {
  width: 90%;
  margin-left: 25%;
}

.table_controls .add_product_btn {
  width: 10%;
}

/* CLOSE BTN */
.form_header_container {
  margin-top: 10%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.form_header_container .h1 {
  text-align: center;
  padding: 0.4rem;
  width: 80%;
}

.form_header_container button {
  padding: 0.4rem;
  background-color: #fff;
  color: #000;
}

/* **************** */

/* table_category_title */
/* ****************** */
.table_category_title_container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  padding: 0.5rem 0;
}
.table_category_title {
  margin: 0;
  padding: 0.5rem;
  padding-left: 45%;
  /* text-align: center; */
  width: 80%;
}

.add_filter_options {
  display: inline-block;
  width: 150px;
  margin-right: 1rem;
  font-size: 15px;
  text-align: center;
  border-radius: unset;
}
/* ************ */

/* CUT TEXT LENGTH */
/* **************** */
/* .cut_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/* EDIT IMAGE */
/* ************* */
.edit_images_container {
  border: 1px solid black;
  margin: 3px;
  padding: 1px;
  background-color: #d49e3f;
}

.edit_img_container {
  position: relative;
  text-align: center;
  color: white;
  display: inline-block;
}

.edit_img {
  margin: 3px;
  height: 70px;
  width: 70px;
  display: inline-block;
}

/* Centered text */
.edit_img_centered {
  background-color: red;
  color: #fff;
  padding: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
