.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  margin-top: 2px;
  font-size: 0.9em;
  /* font-family: sans-serif; */
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: rgb(15, 14, 14);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  word-wrap: break-word;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: rgb(169, 173, 180);
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #c8c8c8;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* .styled-table tbody tr:hover {
  background-color: rgb(169, 173, 180);
} */

/* table_search */
.table_search {
  display: flex;
  /* background-color: darkslategray; */
  padding: 0.5rem;
}

.table_search div {
  width: 150px;
  margin-left: 0.5rem;
}

.table_search div select {
  display: inline-block;
  width: 100%;
}

/* BUTTONS */
.styled-table tr button {
  padding: 0.2rem 0.6rem;
  background-color: rgb(15, 14, 14);
  color: #ffffff;
}

.wide_section {
  width: 300px;
}
