header {
  width: 100%;
  min-height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 30px;
}

.topnav .logo img {
  max-height: 50px;
  max-width: 200px;
}

header a {
  color: #000201;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
header ul li {
  margin-left: 5px;
  display: inline-block;
  padding: 10px 20px;
  opacity: 1;
}
/* login button */
header ul .login {
  background-color: #ffc560;
  border-radius: 20px;
}

/* Register button */
header ul .register {
  background-color: #000201;
  border-radius: 20px;
}

header ul .register a {
  color: #ffffff;
}
/* Register button End */

header ul li:hover {
  opacity: 0.7;
}

header ul li img {
  width: 30px;
  height: 30px;
  transform: translateY(10px);
  border-radius: 50%;
}

/* **********SERVICES DROPDOWN ********** */
/* The container <div> - needed to position the dropdown content */
.service_dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropbtn {
  /* padding: 8px; */
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  background-color: #000201;
  color: #fff;
  border-radius: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffc560;
}

/* Show the dropdown menu on hover */
.service_dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.service_dropdown:hover .dropbtn {
  background-color: #ffc560;
  color: #000201;
}

/* --------- Dropdown ---------- */
.drop-nav {
  /* position: relative; */
  padding: 10px 0;
}
.drop-nav a {
  text-transform: capitalize;
  overflow: visible;
}
.drop-nav .dropdown {
  /* margin-top: 17px; */
  position: absolute;
  display: none;
  background: #ffc560;
  width: calc(100% + 30px);
}
.drop-nav .dropdown li {
  display: block;
}

.drop-nav .dropdown li:hover {
  background-color: #fff;
  opacity: 1;
}

.drop-nav:hover .dropdown {
  display: block;
}
