.admin_sellers_page {}

.admin_sellers_page_headers {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.admin_sellers_page_headers h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.admin_sellers_headers_search {
  background: #F2F2F2;
  border: 1px solid #828282;
  border-radius: 10px;
  padding: .2rem;
  color: #B6B6B6;
  display: flex;
}

.admin_sellers_headers_search input {
  border: 0;
  background: #F2F2F2;
  display: inline-block;
}

.admin_sellers_headers_search span {
  border: 0;
  background: #F2F2F2;
  font-weight: 500;
  font-size: 19px;
  margin: 0 15px;
}

.admin_sellers_page_headers .sellers_totals {
  background: rgba(250, 205, 212, 0.7);
  border-radius: 10px;
  padding: .4rem 1rem;
}

.admin_sellers_page_headers .sellers_totals span:first-child {
  color: #828282;
  margin-right: 1rem;
}

.admin_sellers_page_headers .sellers_totals span:last-child {
  color: #333333;
}

.admin_sellers_filters {
  margin-top: 1rem;
  height: 150px;
  display: flex;
}

.admin_sellers_filters .sellers_left_filter {
  width: 70%;
  display: flex;
}

.admin_sellers_filters .sellers_left_filter .admin_sellers_filter_add {
  width: 20%;
}

.admin_sellers_filters .sellers_left_filter .admin_sellers_filter_add button {
  padding: 5px 10px;
  background: #FFFFFF;
  border: 1px solid #333333;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.admin_sellers_filters .sellers_left_filter .admin_sellers_filter_selected {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.admin_sellers_filters .sellers_left_filter .admin_sellers_filter_selected span {
  background: #F2F2F2;
  border-radius: 10px;
  color: #333333;
  padding: 5px 10px;
  cursor: pointer;
  height: fit-content;
}

.admin_sellers_filters .sellers_right_filter {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

/* DATE RANGE */
.buyers {
  width: 100%;
}

.date_range {
  background: #F2F2F2;
  border: 1px solid #828282;
  border-radius: 10px;
  padding: 5px 10px;
  width: fit-content;
}

/* *************** */

/* FILTERS */

/* TABLE */
.admin_sellers_page .tableFixHead,
.admin_stores_page .tableFixHead {
  margin-top: 1rem;
  overflow-y: auto;
  /* height: 80%; */
}

.admin_sellers_page .tableFixHead thead th,
.admin_stores_page .tableFixHead thead th {
  position: sticky;
  top: 0;
}

.admin_sellers_page table,
.admin_stores_page table {
  border-collapse: collapse;
  width: 100%;
}

.admin_sellers_page th,
.admin_stores_page th,
.admin_sellers_page td,
.admin_stores_page td {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.admin_sellers_page th .admin_stores_page th {
  background: #eee;
}

/* General popover menu */
.tableFixHead tr ul.popupmenu {
  display: none;
  position: relative;
  background-color: #333333;
  margin-left: -60px;
  top: -50px;
}

.tableFixHead tr ul.popupmenu.openpop {
  display: block;
}

.tableFixHead tr ul.popupmenu li {
  color: #fff;
  cursor: pointer;
  padding: 1px 5px;
}

.tableFixHead tr ul.popupmenu li:hover {
  background-color: #1D50A8;
}

/* PAGINATION  */
.admin_table_pagnation {
  display: flex;
  justify-content: flex-end;
}

.admin_table_pagnation .pagination {
  display: inline-block;
}

.admin_table_pagnation .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.admin_table_pagnation .pagination a.active {
  background-color: #1D50A8;
  color: white;
}

.admin_table_pagnation .pagination a:hover:not(.active) {
  background-color: #ddd;
}