.login_page {
  max-width: 500px;
  margin: auto;
  color: #444;
  padding: 10px 50px;
  /* background: #ffffff; */
  box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.login_page h2 {
  /* text-transform: uppercase; */
  font-size: 1.9rem;
  /* font-size: 24px; */
  margin: 20px 0;
  letter-spacing: 1.5px;
}

.login_page input,
.login_page select {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  border: 1px solid #000000;
  outline: none;
  padding: 0 10px;
  border-radius: 20px;
}
.login_page .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}
.login_page .row a {
  color: crimson;
}
.login_page .row button {
  width: 93px;
  padding: 10px 0;
  color: white;
  background: black;
  /* text-transform: uppercase; */
  letter-spacing: 1.5px;
  margin-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.login_page p {
  margin: 10px 0;
}
.login_page a {
  color: #111;
  font-weight: 600;
}

/* ------------- Forgot Password --------------- */
.fg_pass h2 {
  color: #555;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin: 50px 0;
  letter-spacing: 1.3px;
}
.fg_pass .row {
  max-width: 500px;
  margin: auto;
  padding: 0 10px;
}
.fg_pass .row input {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 15px;
  border-radius: 3px;
  margin: 5px 0;
}
.fg_pass .row button {
  background: #333;
  color: white;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border-radius: 3px;
  margin-top: 15px;
}
/* ---------- Facebook / Google ---------------- */
.login_page .hr,
.login_page .link {
  margin: 15px 0;
  color: crimson;
}
.login_page .or_h {
  color: black;
  text-align: center;
}

.social > button:nth-child(1),
.kep-login-facebook.metro {
  width: 100%;
  margin: 5px 0;
  letter-spacing: 1.3px;
  border: 1px solid #000000 !important;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px !important;
  /* padding: 6px; */
  background-color: #fff;
  color: black;
  text-transform: capitalize;
}

.social > button:nth-child(1) > div:nth-child(1) {
  width: 20%;
  margin-right: 0px !important;
  border-radius: 0px !important;
  height: 30px;
  margin-left: 9px;
}

.social > button:nth-child(1) > span:nth-child(2) {
  /* text-align: center; */
  width: 80%;
  color: black;
  font-size: 16.5px !important;
  font-weight: 700 !important;
  /* height: 50px; */
}

.kep-login-facebook.metro {
  width: 100%;
  /* margin: 10px 0; */
  font-size: 15px;
  /* letter-spacing: 1.3px; */
  border: 1px solid #000000;
  /* box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25); */
  border-radius: 20px !important;
  /* padding: 6px 0px; */
  background-color: #fff;
  color: black;
  text-transform: capitalize;
  text-align: left;
  /* line-height: 20; */
}

.kep-login-facebook.metro .fa {
  background-color: #fff;
  color: #395185;
  display: inline-block;
  font-size: 24px;
  margin-left: 30px;
  /* margin-right: calc(0.34435vw + 50px); */
  width: 100px;
}

.kep-login-facebook {
  padding: 8px !important;
}
